# Building deep learning models with keras
In this chapter, you'll use the Keras library to build deep learning models for both regression and classification. You'll learn about the Specify-Compile-Fit workflow that you can use to make predictions, and by the end of the chapter, you'll have all the tools necessary to build deep neural networks. This is the Summary of lecture "Introduction to Deep Learning in Python", via datacamp.

- toc: true 
- badges: true
- comments: true
- author: Chanseok Kang
- categories: [Python, Datacamp, Deep_Learning]
- image: images/gd.png

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = (8, 8)

### Creating a keras model
- Model building steps
    - Specify Architecture
    - Compile
    - Fit
    - Predict

> Note: In the lecture, keras framework was used. But in this page, keras with tensorflow (`tf.keras`) will be used.

### Understanding your data
You will soon start building models in Keras to predict wages based on various professional and demographic factors. Before you start building a model, it's good to understand your data by performing some exploratory analysis.

The data is pre-loaded into a pandas DataFrame called `df`. Use the `.head()` and `.describe()` methods.

The target variable you'll be predicting is `wage_per_hour`. Some of the predictor variables are binary indicators, where a value of 1 represents True, and 0 represents False.

In [2]:
df = pd.read_csv('./dataset/hourly_wages.csv')
df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [3]:
df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Specifying a model
Now you'll get to work with your first model in Keras, and will immediately be able to run more complex neural network models on larger datasets compared to the first two chapters.

To start, you'll take the skeleton of a neural network and add a hidden layer and an output layer. You'll then fit that model and see Keras do the optimization so your model continually gets better.

As a start, you'll predict workers wages based on characteristics like their industry, education and level of experience. You can find the dataset in a pandas dataframe called `df`. For convenience, everything in `df` except for the target has been converted to a NumPy matrix called `predictors`. The target, `wage_per_hour`, is available as a NumPy matrix called `target`.

In [4]:
import tensorflow as tf

predictors = df.iloc[:, 1:].to_numpy()
target = df.iloc[:, 0].to_numpy()

WARNING:tensorflow:From c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [5]:
# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

# Set up the model: model
model = tf.keras.Sequential()

# Add the first layer
model.add(tf.keras.layers.Dense(50, activation='relu', input_shape=(n_cols, )))

# Add the second layer
model.add(tf.keras.layers.Dense(32, activation='relu'))

# Add the output layer
model.add(tf.keras.layers.Dense(1))

WARNING:tensorflow:From c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [6]:
# Import necessary modules
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

# Save the number of columns in predictors: n_cols
n_cols = predictors.shape[1]

# Set up the model: model
model = Sequential()

# Add the first layer
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))

# Add the second layer
model.add(Dense(32, activation='relu'))

# Add the output layer
model.add(Dense(1))

## Compiling and fitting a model
- Why you need to compile your model
    - Specify the optimizer
        - Many options and mathematically complex
        - "Adam" is usually a good choice
    - Loss function
        - "mean_squared_error"
- Fitting a model
    - Applying backpropagation and gradient descent with your data to update the weights
    - Scaling data before fitting can ease optimization

### Compiling the model
You're now going to compile the model you specified earlier. To compile the model, you need to specify the optimizer and loss function to use. You can read more about 'adam' optimizer as well as other keras optimizers [here](https://keras.io/optimizers/#adam), and if you are really curious to learn more, you can read the [original paper](https://arxiv.org/abs/1412.6980v8) that introduced the Adam optimizer.

In this exercise, you'll use the Adam optimizer and the mean squared error loss function. Go for it!

In [7]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Verify that model contains information from compiling
print("Loss function: " + model.loss)

WARNING:tensorflow:From c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Loss function: mean_squared_error

### Fitting the model
You're at the most fun part. You'll now fit the model. Recall that the data to be used as predictive features is loaded in a NumPy matrix called `predictors` and the data to be predicted is stored in a NumPy matrix called `target`. Your model is pre-written and it has been compiled with the code from the previous exercise.

In [8]:
# Fit the model
model.fit(predictors, target, epochs=10);

Epoch 1/10
WARNING:tensorflow:From c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

17/17 [==============================] - 1s 3ms/step - loss: 248.6285
Epoch 2/10
17/17 [==============================] - 0s 3ms/step - loss: 53.1505
Epoch 3/10
17/17 [==============================] - 0s 3ms/step - loss: 37.3001
Epoch 4/10
17/17 [==============================] - 0s 3ms/step - loss: 32.9702
Epoch 5/10
17/17 [==============================] - 0s 3ms/step - loss: 30.5457
Epoch 6/10
17/17 [==============================] - 0s 3ms/step - loss: 28.3781
Epoch 7/10
17/17 [==============================] - 0s 3ms/step - loss: 26.7383
Epoch 8/10
17/17 [==============================] - 0s 3ms/step - loss: 25.3073
Epoch 9/10
17/17 [==============================] - 0s 2ms/step - loss: 23.6089
Epoch 10/10
17/17 [==============================] - 0s 3ms/step - loss: 22.5785

https://keras.io/api/optimizers/

In [9]:
# Import necessary modules
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

# Specify the model
n_cols = predictors.shape[1]
model = Sequential()
model.add(Dense(50, activation='relu', input_shape = (n_cols,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Verify that model contains information from compiling
print("Loss function: " + model.loss)

Loss function: mean_squared_error

## Classification models
- Classification
    - `categorical_crossentropy` loss function
    - Similar to log loss: Lower is better
    - Add `metrics=['accuracy']` to compile step for easy-to-understand diagnostics
    - Output layers has separate node for each possible outcome, and uses `softmax` activation

### Understanding your classification data
Now you will start modeling with a new dataset for a classification problem. This data includes information about passengers on the Titanic. You will use predictors such as `age`, `fare` and where each passenger embarked from to predict who will survive. This data is from [a tutorial on data science competitions](https://www.kaggle.com/c/titanic). Look [here](https://www.kaggle.com/c/titanic/data) for descriptions of the features.

It's smart to review the maximum and minimum values of each variable to ensure the data isn't misformatted or corrupted. What was the maximum age of passengers on the Titanic?

In [10]:
df = pd.read_csv('./dataset/titanic_all_numeric.csv')
df.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [11]:
df.describe()

,survived,pclass,age,sibsp,parch,fare,male,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.647587,0.188552,0.086420,0.722783
std,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990,0.391372,0.281141,0.447876
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,1.000000,0.000000,0.000000,1.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000

### Last steps in classification models
You'll now create a classification model using the titanic dataset, which has been pre-loaded into a DataFrame called `df`. You'll take information about the passengers and predict which ones survived.

The predictive variables are stored in a NumPy array `predictors`. The target to predict is in `df.survived`, though you'll have to manipulate it for keras. The number of predictive features is stored in `n_cols`.

Here, you'll use the `'sgd'` optimizer, which stands for [Stochastic Gradient Descent](https://en.wikipedia.org/wiki/Stochastic_gradient_descent).

In [12]:
predictors = df.iloc[:, 1:].astype(np.float32).to_numpy()
target = df.survived.astype(np.float32).to_numpy()
n_cols = predictors.shape[1]

In [13]:
from tensorflow.keras.utils import to_categorical

# Convert the target to categorical: target
target = to_categorical(target)

# Set up the model
model = tf.keras.Sequential()

# Add the first layer
model.add(tf.keras.layers.Dense(32, activation='relu', input_shape=(n_cols, )))

# Add the second layer
model.add(tf.keras.layers.Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

# Fit the model
model.fit(predictors, target, epochs=10);

Epoch 1/10

WARNING:tensorflow:From c:\Users\jdamodhar\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

28/28 [==============================] - 1s 3ms/step - loss: 2.0007 - accuracy: 0.6173
Epoch 2/10
28/28 [==============================] - 0s 2ms/step - loss: 0.8640 - accuracy: 0.6352
Epoch 3/10
28/28 [==============================] - 0s 3ms/step - loss: 0.6576 - accuracy: 0.6723
Epoch 4/10
28/28 [==============================] - 0s 2ms/step - loss: 0.6471 - accuracy: 0.6678
Epoch 5/10
28/28 [==============================] - 0s 2ms/step - loss: 0.6276 - accuracy: 0.6869
Epoch 6/10
28/28 [==============================] - 0s 2ms/step - loss: 0.6176 - accuracy: 0.7116
Epoch 7/10
28/28 [==============================] - 0s 3ms/step - loss: 0.6162 - accuracy: 0.6958
Epoch 8/10
28/28 [==============================] - 0s 2ms/step - loss: 0.6058 - accuracy: 0.6835
Epoch 9/10
28/28 [==============================] - 0s 2ms/step - loss: 0.5941 - accuracy: 0.6970
Epoch 10/10
28/28 [==============================] - 0s 2ms/step - loss: 0.5968 - accuracy: 0.6947

In [16]:
# Import necessary modules
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical

# Convert the target to categorical: target
target = to_categorical(df.survived)

# Set up the model
model = Sequential()

# Add the first layer
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# Add the output layer
model.add(Dense(2, activation='softmax'))

# Compile the model
model.compile(optimizer='sgd', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])

# Fit the model
model.fit(predictors, target)

28/28 [==============================] - 1s 5ms/step - loss: 2.8876 - accuracy: 0.5814

## Using models
- Using models
    - Save
    - Load
    - Make predictions

### Making predictions
The trained network from your previous coding exercise is now stored as `model`. New data to make predictions is stored in a NumPy array as `pred_data`. Use model to make predictions on your new data.

In this exercise, your predictions will be probabilities, which is the most common way for data scientists to communicate their predictions to colleagues.

In [14]:
pred_data = pd.read_csv('./dataset/titanic_pred.csv').astype(np.float32).to_numpy()

In [15]:
# Calculate predictions: predictions
predictions = model.predict(pred_data)

# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:, 1]

# Print predicted_prob_true
print(predicted_prob_true)

3/3 [==============================] - 0s 4ms/step
[0.19443291 0.4101846  0.76733464 0.45739153 0.16033603 0.1287952
 0.01828425 0.36225525 0.13097422 0.6429207  0.19407405 0.3145007
 0.13088429 0.36023283 0.13907014 0.05567367 0.32121277 0.53357255
 0.0364622  0.3758694  0.7503634  0.19767283 0.02012614 0.3440457
 0.38507384 0.15328252 0.6473129  0.5747155  0.16962633 0.7061766
 0.3982331  0.4671466  0.15855211 0.24117781 0.32551458 0.72620845
 0.30241844 0.1840725  0.62511176 0.5683618  0.29880518 0.37713307
 0.58946806 0.07590279 0.33090222 0.04738558 0.32461008 0.08897302
 0.5271205  0.76363957 0.34806103 0.00224673 0.4660146  0.6135742
 0.34935418 0.36580244 0.8714039  0.2721849  0.41464648 0.15855211
 0.13258217 0.33636516 0.3950157  0.33937374 0.3562555  0.14093624
 0.39177436 0.6356068  0.2192515  0.4150721  0.19427016 0.5956008
 0.06926416 0.03701733 0.440959   0.39986056 0.32453197 0.31794745
 0.18060091 0.7486498  0.52692777 0.1108807  0.35861355 0.22550216
 0.18907389 0.3348868  0.3181729  0.59349024 0.3833901  0.5683479
 0.11268632]

In [17]:
# Specify, compile, and fit the model
model = Sequential()
model.add(Dense(32, activation='relu', input_shape = (n_cols,)))
model.add(Dense(2, activation='softmax'))
model.compile(optimizer='sgd', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])
model.fit(predictors, target)
# Calculate predictions: predictions
predictions = model.predict(pred_data)

# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:, 1]

# Print predicted_prob_true
print(predicted_prob_true)# Calculate predictions: predictions
predictions = model.predict(pred_data)

# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:, 1]

# Print predicted_prob_true
print(predicted_prob_true)

28/28 [==============================] - 1s 2ms/step - loss: 1.4154 - accuracy: 0.6105
3/3 [==============================] - 0s 5ms/step
[0.2860477  0.43628034 0.8490119  0.49129817 0.3018601  0.28133765
 0.44572413 0.34477338 0.2512909  0.7112569  0.312875   0.32654297
 0.26979864 0.65657353 0.28026968 0.4726935  0.30917108 0.6778425
 0.27546135 0.6184648  0.846623   0.30831644 0.44829702 0.28572506
 0.66847324 0.26017758 0.68356246 0.67844963 0.26026756 0.7696705
 0.5120605  0.5742476  0.3243993  0.33602235 0.3752699  0.8179524
 0.3536374  0.2824067  0.6570741  0.62897795 0.35884365 0.43472853
 0.61227775 0.31334114 0.38416085 0.26190636 0.7777261  0.2974892
 0.60432166 0.778695   0.66352403 0.20014623 0.54601085 0.65940315
 0.31023133 0.33677787 0.865017   0.28726196 0.43983275 0.3243993
 0.22757454 0.40315405 0.28992993 0.7716523  0.38210177 0.21163799
 0.39739323 0.70870036 0.2776226  0.51075315 0.3129074  0.6661317
 0.3736852  0.23276004 0.50033224 0.4247627  0.36491132 0.3663298
 0.28466788 0.86844724 0.5255378  0.27540457 0.3275924  0.32131603
 0.31722328 0.3188661  0.35208535 0.62789714 0.3493526  0.6497824
 0.25949505]
3/3 [==============================] - 0s 0s/step
[0.2860477  0.43628034 0.8490119  0.49129817 0.3018601  0.28133765
 0.44572413 0.34477338 0.2512909  0.7112569  0.312875   0.32654297
 0.26979864 0.65657353 0.28026968 0.4726935  0.30917108 0.6778425
 0.27546135 0.6184648  0.846623   0.30831644 0.44829702 0.28572506
 0.66847324 0.26017758 0.68356246 0.67844963 0.26026756 0.7696705
 0.5120605  0.5742476  0.3243993  0.33602235 0.3752699  0.8179524
 0.3536374  0.2824067  0.6570741  0.62897795 0.35884365 0.43472853
 0.61227775 0.31334114 0.38416085 0.26190636 0.7777261  0.2974892
 0.60432166 0.778695   0.66352403 0.20014623 0.54601085 0.65940315
 0.31023133 0.33677787 0.865017   0.28726196 0.43983275 0.3243993
 0.22757454 0.40315405 0.28992993 0.7716523  0.38210177 0.21163799
 0.39739323 0.70870036 0.2776226  0.51075315 0.3129074  0.6661317
 0.3736852  0.23276004 0.50033224 0.4247627  0.36491132 0.3663298
 0.28466788 0.86844724 0.5255378  0.27540457 0.3275924  0.32131603
 0.31722328 0.3188661  0.35208535 0.62789714 0.3493526  0.6497824
 0.25949505]