In [131]:
import pandas as pd
import numpy as np
import time
poker_hands = pd.read_csv('poker_hand.csv')

In [132]:
# # Calculate the result of the problem using formula() and print the time required
# N = 1000000
# fm_start_time = time.time()
# first_method = formula(N)
# print("Time using formula: {} sec".format(time.time() - fm_start_time))

# # Calculate the result of the problem using brute_force() and print the time required
# sm_start_time = time.time()
# second_method = brute_force(N)
# print("Time using the brute force: {} sec".format(time.time() - sm_start_time))

In [133]:
# Store the time before the execution
start_time = time.time()
words = ['<html>',
 '<head><title>404 Not Found</title></head>',
 '<body>',
 '<center><h1>404 Not Found</h1></center>',
 '<hr><center>nginx</center>',
 '</body>',
 '</html>']
# Execute the operation
letlist = [wrd for wrd in words if wrd.startswith('b')]

# Store and print the difference between the start and the current time
total_time_lc = time.time() - start_time
print('Time using list comprehension: {} sec'.format(total_time_lc))

# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = []
for wrd in words:
    if wrd.startswith('b'):
        letlist.append(wrd)
        
# Print the difference between the start and the current time
total_time_fl = time.time() - start_time
print('Time using for loop: {} sec'.format(total_time_fl))

Time using list comprehension: 0.0 sec
Time using for loop: 0.0 sec

In [134]:
# Define the range of rows to select: row_nums
row_nums = range(0, 1000)

# Select the rows using .loc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker_hands.loc[row_nums]
loc_end_time = time.time()

# Print the time it took to select the rows using .loc
print("Time using .loc[]: {} sec".format(loc_end_time - loc_start_time))

# Select the rows using .iloc[] and row_nums and record the time before and after
iloc_start_time = time.time()
rows = poker_hands.iloc[row_nums]
iloc_end_time = time.time()

# Print the time it took to select the rows using .iloc
print("Time using .iloc[]: {} sec".format(iloc_end_time-iloc_start_time))

Time using .loc[]: 0.0 sec
Time using .iloc[]: 0.007999658584594727 sec

In [135]:
# Use .iloc to select the first, fourth, fifth, seventh and eighth column and record the times before and after
iloc_start_time = time.time()
cols = poker_hands.iloc[:,[0,3,4,6,7]]
iloc_end_time = time.time()

# Print the time it took
print("Time using .iloc[] : {} sec".format(iloc_end_time - iloc_start_time))

# Use simple column selection to select the first, fourth, fifth, seventh and eighth column and record the times before and after
names_start_time = time.time()
cols = poker_hands[['S1', 'S2', 'R2', 'R3', 'S4']]
names_end_time = time.time()

# Print the time it took
print("Time using selection by name : {} sec".format(names_end_time-names_start_time))

Time using .iloc[] : 0.0 sec
Time using selection by name : 0.0 sec

In [136]:
# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = [wrd for wrd in words if wrd.startswith('b')]

# Store and print the difference between the start and the current time
total_time_lc = time.time() - start_time
print('Time using list comprehension: {} sec'.format(total_time_lc))

# Store the time before the execution
start_time = time.time()

# Execute the operation
letlist = []
for wrd in words:
    if wrd.startswith('b'):
        letlist.append(wrd)
        
# Print the difference between the start and the current time
total_time_fl = time.time() - start_time
print('Time using for loop: {} sec'.format(total_time_fl))

Time using list comprehension: 0.0 sec
Time using for loop: 0.0 sec

In [137]:
# Extract number of rows in dataset
N=poker_hands.shape[0]

# Select and time the selection of the 75% of the dataset's rows using numpy
rand_start_time = time.time()
poker_hands.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]
print("Time using Numpy: {} sec".format(time.time() - rand_start_time))

# Select and time the selection of the 75% of the dataset's rows using sample()
samp_start_time = time.time()
poker_hands.sample(int(0.75 * N), axis=0, replace = True)
print("Time using .sample: {} sec".format(time.time() - samp_start_time))

Time using Numpy: 0.0 sec
Time using .sample: 0.008008718490600586 sec

In [138]:
poker_hands.sample(int(0.75 * N), axis=0, replace = True)
poker_hands.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]

       S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
20267   1   9   4   3   4  10   1   2   3  13      0
5902    3   2   3   4   4  10   2   1   1   8      0
6354    3   9   2   4   3   8   3  13   4  11      0
8256    3   1   4   5   4   8   1   3   3  11      0
13562   2  12   1   2   3   9   2   9   4   9      3
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
4000    4   7   2  10   3  10   4   4   4   5      1
22131   1   5   4   4   1  13   3  10   1   3      0
24139   4   7   2   7   3  11   2   9   4   6      1
2280    2   4   4  10   2   5   4  13   4   8      0
24519   2   4   2  11   3   8   4  11   4  12      1

[18757 rows x 11 columns]

In [139]:
# Extract number of columns in dataset
D=poker_hands.shape[1]

# Select and time the selection of 4 of the dataset's columns using NumPy
np_start_time = time.time()
poker_hands.iloc[:,np.random.randint(low=0, high=D, size=4)]
print("Time using NymPy's random.randint(): {} sec".format(time.time() - np_start_time))

# Select and time the selection of 4 of the dataset's columns using pandas
pd_start_time = time.time()
poker_hands.sample(4, axis=1)
print("Time using panda's .sample(): {} sec".format(time.time() - pd_start_time))

Time using NymPy's random.randint(): 0.0 sec
Time using panda's .sample(): 0.0 sec

In [140]:
poker_hands.sample(4, axis=1)
poker_hands.iloc[:,np.random.randint(low=0, high=D, size=4)]

       S3  S2  S3  R1
0       1   1   1  10
1       2   2   2  11
2       3   3   3  12
3       4   4   4  10
4       4   4   4   1
...    ..  ..  ..  ..
25005   4   2   4   9
25006   3   4   3   1
25007   4   2   4   1
25008   1   4   1  12
25009   3   3   3   7

[25010 rows x 4 columns]

In [141]:
poker_hands.columns

Index(['S1', 'R1', 'S2', 'R2', 'S3', 'R3', 'S4', 'R4', 'S5', 'R5', 'Class'], dtype='object')

In [142]:
# Replace Class 1 to -2 
poker_hands['Class'].replace(1, -2, inplace=True)
# Class 2 to -3
poker_hands['Class'].replace(2, -3, inplace=True)

print(poker_hands[['Class']])

       Class
0          9
1          9
2          9
3          9
4          9
...      ...
25005      0
25006     -2
25007     -2
25008     -2
25009     -2

[25010 rows x 1 columns]

In [143]:
poker_hands['Class'].replace(2, -3, inplace=True)